<html>

<head>
    <title>Demo Socket IO</title>
    <link rel="stylesheet" type="text/css" href="layout.css" />
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>

</head>

<body>
    <div class="chatbox">
        <div id="login">
            <div>
                <input type="text" id="txtUsername" placeholder="Your name?">
            </div>
            <div>
                <input type="text" id="txtRoomId" placeholder="Room ID?">
            </div>
            <button id="btnJoinRoom">Submit</button>
        </div>
        <div id="chatlogs" class="chatlogs">
            <div class="chat friend">
                <div class="user-photo"><img src="#" alt="user image"></div>
                <p class="chat-message">What's up, bro!</p>
            </div>
            <div class="chat self">
                <div class="user-photo"><img src="#" alt="user image"></div>
                <p class="chat-message">How are you doing, bro!</p>
            </div>
        </div>

        <div class="chat-form">
            <textarea id="txtMessage"></textarea>
            <button id="btnSend">Send</button>
        </div>
    </div>
</body>

</html>