<html>

<head>
    <title>Demo Socket IO</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        //goi len server
        var socket = io("http://localhost:3000");

        //alert("Hello Jquery");
        $(document).ready(function () {
            $("#client").click(function () {
                socket.emit("Client-send-data", "Hello");
            });
        });
    </script>
</head>

<body>
    <div id="client">Click Here</div>
</body>

</html>